dist: trusty
sudo: required
language: python
python:
  - 3.6
services:
  - docker

env:
  # - MONGODB_VER=mongodb-linux-x86_64-2.6.12
  # - MONGODB_VER=mongodb-linux-x86_64-3.4.16
  - MONGODB_VER=mongodb-linux-x86_64-3.6.2

before_install:
  - sudo apt-get -qq update
  - pip install coveralls

install:
  - pip install -r requirements.txt
  - pip install -r dev-requirements.txt

script:
  - wget https://fastdl.mongodb.org/linux/$MONGODB_VER.tgz
  - tar xfz $MONGODB_VER.tgz
  - export MONGOD=`pwd`/$MONGODB_VER/bin/mongod
  - sed -i "s#^mongo-exe.*#mongo-exe=$MONGOD#" test/test.cfg
  - cat test/test.cfg
  - make
  - make test

after_script:
  - coveralls