dist: trusty
sudo: required
language: python
python:
  - 3.6
services:
  - docker

env:
  - MONGODB_VER=mongodb-linux-x86_64-3.6.2
  - KAFKA_VER=2.1.0
  - KAFKA_SCALA_VER=2.12
  - KAFKA_FILE=kafka_$KAFKA_SCALA_VER-$KAFKA_VER

before_install:
  - sudo apt-get -qq update
  - pip install coveralls

install:
  - pip install -r requirements.txt
  - pip install -r dev-requirements.txt

script:
  - wget https://fastdl.mongodb.org/linux/$MONGODB_VER.tgz
  - tar xfz $MONGODB_VER.tgz
  - export MONGOD=`pwd`/$MONGODB_VER/bin/mongod
  - sed -i "s#^mongo-exe.*#mongo-exe=$MONGOD#" test/test.cfg
  - wget http://mirrors.ocf.berkeley.edu/apache/kafka/$KAFKA_VER/$KAFKA_FILE.tgz
  - tar xfz $KAFKA_FILE.tgz
  - export KAFKA_PATH=`pwd`/$KAFKA_FILE
  - sed -i "s#^kafka-path.*#kafka-path=$KAFKA_PATH#" test/test.cfg
  - cat test/test.cfg
  - make test

after_script:
  - coveralls
